In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 10)

In [3]:
df_csv = pd.read_csv('resources/data.csv', encoding='shift-jis')
df_csv

    都道府県コード 都道府県名  元号  和暦（年）  西暦（年）    注    人口（総数）     人口（男）     人口（女）
0         0    全国  大正      9   1920  NaN  55963053  28044185  27918868
1         1   北海道  大正      9   1920  NaN   2359183   1244322   1114861
2         2   青森県  大正      9   1920  NaN    756454    381293    375161
3         3   岩手県  大正      9   1920  NaN    845540    421069    424471
4         4   宮城県  大正      9   1920  NaN    961768    485309    476459
..      ...   ...  ..    ...    ...  ...       ...       ...       ...
974      43   熊本県  平成     27   2015  NaN   1786170    841046    945124
975      44   大分県  平成     27   2015  NaN   1166338    551932    614406
976      45   宮崎県  平成     27   2015  NaN   1104069    519242    584827
977      46  鹿児島県  平成     27   2015  NaN   1648177    773061    875116
978      47   沖縄県  平成     27   2015  NaN   1433566    704619    728947

[979 rows x 9 columns]

In [5]:
df_csv = pd.read_csv('resources/data.csv', encoding='shift-jis', names=['area_code', 'area', 'GG', 'gg', 'yyyy', 'population', 'man', 'woman'])
df_csv

        area_code area     GG     gg yyyy population       man     woman
都道府県コード     都道府県名   元号  和暦（年）  西暦（年）    注     人口（総数）     人口（男）     人口（女）
0              全国   大正      9   1920  NaN   55963053  28044185  27918868
1             北海道   大正      9   1920  NaN    2359183   1244322   1114861
2             青森県   大正      9   1920  NaN     756454    381293    375161
3             岩手県   大正      9   1920  NaN     845540    421069    424471
...           ...  ...    ...    ...  ...        ...       ...       ...
43            熊本県   平成     27   2015  NaN    1786170    841046    945124
44            大分県   平成     27   2015  NaN    1166338    551932    614406
45            宮崎県   平成     27   2015  NaN    1104069    519242    584827
46           鹿児島県   平成     27   2015  NaN    1648177    773061    875116
47            沖縄県   平成     27   2015  NaN    1433566    704619    728947

[980 rows x 8 columns]

In [6]:
df_csv = pd.read_csv('resources/data.csv', encoding='shift-jis', index_col = 1)
df_csv

      都道府県コード  元号  和暦（年）  西暦（年）    注    人口（総数）     人口（男）     人口（女）
都道府県名
全国          0  大正      9   1920  NaN  55963053  28044185  27918868
北海道         1  大正      9   1920  NaN   2359183   1244322   1114861
青森県         2  大正      9   1920  NaN    756454    381293    375161
岩手県         3  大正      9   1920  NaN    845540    421069    424471
宮城県         4  大正      9   1920  NaN    961768    485309    476459
...       ...  ..    ...    ...  ...       ...       ...       ...
熊本県        43  平成     27   2015  NaN   1786170    841046    945124
大分県        44  平成     27   2015  NaN   1166338    551932    614406
宮崎県        45  平成     27   2015  NaN   1104069    519242    584827
鹿児島県       46  平成     27   2015  NaN   1648177    773061    875116
沖縄県        47  平成     27   2015  NaN   1433566    704619    728947

[979 rows x 8 columns]

In [7]:
type(df_csv.index)

pandas.core.indexes.base.Index

In [8]:
df_csv.dtypes

都道府県コード    object
元号         object
和暦（年）       int64
西暦（年）       int64
注          object
人口（総数）      int64
人口（男）       int64
人口（女）       int64
dtype: object

In [10]:
df_csv = pd.read_csv('resources/data.csv', encoding='shift-jis', index_col = [0, 1, 2, 3, 4])
df_csv

                                注    人口（総数）     人口（男）     人口（女）
都道府県コード 都道府県名 元号 和暦（年） 西暦（年）
0       全国    大正 9     1920   NaN  55963053  28044185  27918868
1       北海道   大正 9     1920   NaN   2359183   1244322   1114861
2       青森県   大正 9     1920   NaN    756454    381293    375161
3       岩手県   大正 9     1920   NaN    845540    421069    424471
4       宮城県   大正 9     1920   NaN    961768    485309    476459
...                           ...       ...       ...       ...
43      熊本県   平成 27    2015   NaN   1786170    841046    945124
44      大分県   平成 27    2015   NaN   1166338    551932    614406
45      宮崎県   平成 27    2015   NaN   1104069    519242    584827
46      鹿児島県  平成 27    2015   NaN   1648177    773061    875116
47      沖縄県   平成 27    2015   NaN   1433566    704619    728947

[979 rows x 4 columns]

In [11]:
type(df_csv.index)

pandas.core.indexes.multi.MultiIndex

In [12]:
df_csv.dtypes

注         object
人口（総数）     int64
人口（男）      int64
人口（女）      int64
dtype: object

In [20]:
df_csv.to_csv('resources/data_csv.csv', encoding='shift-jis')

In [22]:
# pd.read_excel('resources/data.xlsx', encoding='shift-jis')
pd.read_excel('resources/data.xlsx')

    都道府県コード 都道府県名  元号  和暦（年）  西暦（年）    注    人口（総数）     人口（男）     人口（女）
0         0    全国  大正      9   1920  NaN  55963053  28044185  27918868
1         1   北海道  大正      9   1920  NaN   2359183   1244322   1114861
2         2   青森県  大正      9   1920  NaN    756454    381293    375161
3         3   岩手県  大正      9   1920  NaN    845540    421069    424471
4         4   宮城県  大正      9   1920  NaN    961768    485309    476459
..      ...   ...  ..    ...    ...  ...       ...       ...       ...
974      43   熊本県  平成     27   2015  NaN   1786170    841046    945124
975      44   大分県  平成     27   2015  NaN   1166338    551932    614406
976      45   宮崎県  平成     27   2015  NaN   1104069    519242    584827
977      46  鹿児島県  平成     27   2015  NaN   1648177    773061    875116
978      47   沖縄県  平成     27   2015  NaN   1433566    704619    728947

[979 rows x 9 columns]

In [25]:
# pd.read_excel('resources/data01.xlsx', encoding='shift-jis')
pd.read_excel('resources/data01.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
2,0,全国,大正,9,1920,NaN,55963053,28044185,27918868
3,1,北海道,大正,9,1920,NaN,2359183,1244322,1114861
4,2,青森県,大正,9,1920,NaN,756454,381293,375161
...,...,...,...,...,...,...,...,...,...
976,43,熊本県,平成,27,2015,NaN,1786170,841046,945124
977,44,大分県,平成,27,2015,NaN,1166338,551932,614406
978,45,宮崎県,平成,27,2015,NaN,1104069,519242,584827
979,46,鹿児島県,平成,27,2015,NaN,1648177,773061,875116
980,47,沖縄県,平成,27,2015,NaN,1433566,704619,728947

In [27]:
# pd.read_excel('resources/data01.xlsx', encoding='shift-jis', skiprows=2)
pd.read_excel('resources/data01.xlsx', skiprows=2)

    都道府県コード 都道府県名  元号  和暦（年）  西暦（年）    注    人口（総数）     人口（男）     人口（女）
0         0    全国  大正      9   1920  NaN  55963053  28044185  27918868
1         1   北海道  大正      9   1920  NaN   2359183   1244322   1114861
2         2   青森県  大正      9   1920  NaN    756454    381293    375161
3         3   岩手県  大正      9   1920  NaN    845540    421069    424471
4         4   宮城県  大正      9   1920  NaN    961768    485309    476459
..      ...   ...  ..    ...    ...  ...       ...       ...       ...
974      43   熊本県  平成     27   2015  NaN   1786170    841046    945124
975      44   大分県  平成     27   2015  NaN   1166338    551932    614406
976      45   宮崎県  平成     27   2015  NaN   1104069    519242    584827
977      46  鹿児島県  平成     27   2015  NaN   1648177    773061    875116
978      47   沖縄県  平成     27   2015  NaN   1433566    704619    728947

[979 rows x 9 columns]

In [28]:
df_cb = pd.read_clipboard()

In [29]:
df_cb

Empty DataFrame
Columns: [pd.read_excel('resources/data01.xlsx',, encoding='shift-jis',, skiprows=2)]
Index: []

In [30]:
import sqlite3

In [31]:
dbname = 'TEST.db'
conn = sqlite3.connect(dbname)
conn.close

In [32]:
conn = sqlite3.connect(dbname)

df_csv.to_sql('test_table', conn, if_exists = 'replace')

conn.close

In [33]:
conn = sqlite3.connect(dbname)

df_db = pd.read_sql('SELECT * FROM test_table', conn)

conn.close

In [34]:
df_db

    都道府県コード 都道府県名  元号  和暦（年）  西暦（年）     注    人口（総数）     人口（男）     人口（女）
0         0    全国  大正      9   1920  None  55963053  28044185  27918868
1         1   北海道  大正      9   1920  None   2359183   1244322   1114861
2         2   青森県  大正      9   1920  None    756454    381293    375161
3         3   岩手県  大正      9   1920  None    845540    421069    424471
4         4   宮城県  大正      9   1920  None    961768    485309    476459
..      ...   ...  ..    ...    ...   ...       ...       ...       ...
974      43   熊本県  平成     27   2015  None   1786170    841046    945124
975      44   大分県  平成     27   2015  None   1166338    551932    614406
976      45   宮崎県  平成     27   2015  None   1104069    519242    584827
977      46  鹿児島県  平成     27   2015  None   1648177    773061    875116
978      47   沖縄県  平成     27   2015  None   1433566    704619    728947

[979 rows x 9 columns]

In [35]:
sql = '''
    select * 
    from test_table  
    where 都道府県名 == "東京都"
    '''

In [36]:
conn = sqlite3.connect(dbname)

df_db = pd.read_sql(sql, conn)

conn.close

In [37]:
df_db

   都道府県コード 都道府県名  元号  和暦（年）  西暦（年）     注    人口（総数）    人口（男）    人口（女）
0       13   東京都  大正      9   1920  None   3699428  1952989  1746439
1       13   東京都  大正     14   1925  None   4485144  2387609  2097535
2       13   東京都  昭和      5   1930  None   5408678  2855323  2553355
3       13   東京都  昭和     10   1935  None   6369919  3325696  3044223
4       13   東京都  昭和     15   1940  None   7354971  3795875  3559096
..     ...   ...  ..    ...    ...   ...       ...      ...      ...
15      13   東京都  平成      7   1995  None  11773605  5892704  5880901
16      13   東京都  平成     12   2000  None  12064101  6028562  6035539
17      13   東京都  平成     17   2005  None  12576601  6264895  6311706
18      13   東京都  平成     22   2010  None  13159388  6512110  6647278
19      13   東京都  平成     27   2015  None  13515271  6666690  6848581

[20 rows x 9 columns]